@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fceded;
    max-width: 100%;
    overflow-x: hidden;
}

.header-container {
    height: 80px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    background-color: #161617;
}

footer {
    background-color: #161617;
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff3b3b;
}

.logo img {
    width: 300px;
    height: auto;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner-principal {
    width: 90%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.banner-principal .img-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.text-mobile-banner {
    display: none;
    position: absolute;
    bottom: 0;
    font-size: 32px;
    padding: 10px;
    padding-bottom: 30px;
    color: white;
    background-color: #f7f7f71a;
}

.logo-banner {
    position: absolute;
    top: 20px;
    width: 200px;
    left: 0;
    z-index: 100;
}

.text-mobile-banner span {
    color: #d70005;
}

.marcas-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    margin: 80px auto;
}

.textos-container {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;

}

.textos-container h2 {
    font-size: 30px;
    color: #d70005;
}

.textos-container h3 {
    margin: 20px;
    font-size: 1.2rem;
    color: #464646;
}

.marcas-slider {
    position: relative;
    width: 100%;
    margin-top: 60px;
}

.slide-track {
    display: flex;
    gap: 40px;
    animation: slide 20s linear infinite;
    width: fit-content;
}

.slide-track img {
    width: 160px;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.slide-track img:hover {
    filter: grayscale(0%);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.section-valores {
    background-color: #f7f7f7;
    padding: 60px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .valores-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .title-container {
    font-size: 2.5rem;
    font-weight: bold;
    color: #d70005;
    margin-bottom: 20px;
  }
  
  .text-container {
    font-size: 1.2rem;
    color: #464646;
    max-width: 800px;
    margin: 0 auto 50px auto;
  }
  
  .text-container span {
    color: #d70005; /* Cor da marca (ajustável conforme sua logo) */
    font-weight: bold;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    padding: 0 10px;
  }
  
  .valor {
    background-color: #fff;
    border-radius: 16px;
    padding: 30px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.26);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    border-top: 4px solid #d70005;
    margin: 15px 0;
  }
  
  .valor:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.425);
    p {
        color: #222;
    }
  }
  
  .valor h3 {
    font-size: 1.4rem;
    color: #d70005;
    margin-bottom: 15px;
  }
  
  .valor p {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  /* Responsivo extra */
  @media (max-width: 600px) {
    .title-container {
      font-size: 2rem;
    }
    .text-container {
      font-size: 1rem;
    }
  }
  

#contato {
    padding: 40px;
    border-radius: 5px;
    margin: 20px auto;
}

.container-contato {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.container-contato h2, p {
    margin: 10px;
}

.container-contato h2 {
    color: #d70005;
}

.container-contato p {
    font-size: 18px;
}

.map {
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.icon-social {
    filter: invert(8%) sepia(96%) saturate(7483%) hue-rotate(356deg) brightness(95%) contrast(116%);
    width: 30px;
    margin: 10px;
}

/* Estilização catalogo.html */

.produtos-container {
    width: 100%;
    padding: 1rem;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.container h2 {
    justify-content: center;
    display: flex;
    font-size: 28px;
    font-weight: 600;
    color: #d70005;
    margin-top: 50px;
}

.produtos-container p {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0.5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-top: 4px solid #d70005;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

.produto:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.425);
    z-index: 10;
    p {
        display: flex;
        justify-content: center;
    }
  }

.produto p {
    display: none;
}

.descricao-produto p {
    max-width: 150px;
    margin: 0 auto;
    line-height: 20px;
}

.produto img {
    max-width: 200px;
    max-height: 150px;
    margin: 0 auto;
}

.produto p:nth-child(1) {
    font-weight: 700;
}

.preco-produto {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: #25D366;
}

.logo-card {
    display: flex;
    left: 10px;
    top: 10px;
    width: 80px;
    position: absolute;
}

.botao-whatsapp {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
}

.botao-whatsapp:hover {
    background-color: #1da851;
}

/* Menu Hamburguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.menu-toggle span {
    height: 4px;
    background: white;
    border-radius: 2px;
}

/* Mobile Responsivo */
@media (max-width: 768px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem; /* ou ajuste menor se necessário */
        box-sizing: border-box;
        width: 100%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #161617;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100vw;
        padding: 20px 0;
        z-index: 999;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    .text-mobile-banner {
        display: inline-block;
    }

    .menu-toggle {
        display: flex;
        right: 0;
    }

    .logo img {
        display: flex;
        width: 180px;
    }

    .marcas-slider {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-top: 60px;
    }
    
    .slide-track {
        display: flex;
        gap: 40px;
        animation: slide 20s linear infinite;
        width: fit-content;
    }
    
    .slide-track img {
        width: 160px;
        height: auto;
        object-fit: contain;
        filter: grayscale(100%);
        transition: filter 0.3s ease;
    }
    
    .slide-track img:hover {
        filter: grayscale(0%);
    }
    
    @keyframes slide {
        from {
            transform: translateX(0);
        }
    
        to {
            transform: translateX(-50%);
        }
    }
    
    /* Versão mobile */
    @media (max-width: 600px) {
        .slide-track {
            gap: 20px;
            animation-duration: 15s;
        }
    
        .slide-track img {
            width: 100px;
        }
    }
    

    .produtos-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .produto img {
        max-width: 80px;
        max-height: 80px;
    }

    .banner-principal {
        height: 70vh;
    }

    .banner-principal .img-banner {
        object-fit: fit-content;
        content: url(src/assets/imgbanner.png);
    }

    .textos-container {
        max-width: 100%;
        padding: 0 10px;
    }

    .valor {
        width: 80%;
        margin: 20px auto;
    }

    .container-contato {
        width: 100%;
    }

    .map {
        width: 100%;
    }

    .container-contato p {
        font-size: 16px;
    }

    .preco-produto {
        font-size: 18px;
    }
}
