@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fceded;
}

header {
    background-image: url('/src/assets/logo-melhorada.png');
    background-size: 28%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.151);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.container {
    width: 100%;
    text-align: center;
    margin-top: 40px;

}

.container h2, p {
    margin: 10px;
}

.container h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.produto {
    display: inline-block;
    width: 20%;
    margin: 10px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.226);
}

.botao-whatsapp {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

#sobre, #contato {
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.map {
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.438);
}