@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fceded;
}

header {
    background-image: url('/src/assets/logo-melhorada.png');
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff3b3b;
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.container h2 {
    font-weight: 600;
}

.container p {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner-principal {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.banner-principal img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}

.banner-texto {
    position: absolute;
    bottom: -5.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background: rgba(66, 66, 66, 0.6);
    padding: 15px 25px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
}

.marcas-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    margin: 0 auto;
}

.textos-container {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.textos-container h2 {
    font-size: 30px;
    color: #ff0000;
}

.textos-container p {
    margin: 20px;
    font-size: 18px;
}

.marcas-slider {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

.slide-track {
    display: flex;
    gap: 40px;
    animation: slide 12s linear infinite;
}

.slide-track img {
    width: 150px; /* Ajuste conforme necessário */
    height: auto;
    object-fit: contain;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


.produto {
    display: inline-block;
    width: 25%;
    margin: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.botao-whatsapp {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
}

.botao-whatsapp:hover {
    background-color: #1da851;
}

#sobre, #contato {
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 20px auto;
}

.map {
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}